@use './variables' as var;

@font-face {
    font-family: Circe;
    src: 
        local("Circe"),
        url("/fonts/Circe/Circe-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Circe;
    src: 
        local("Circe"),
        url("/fonts/Circe/Circe-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@mixin flex-center{
    display: flex;   
    align-items: center;
    justify-content: space-between;
}

@mixin fonts-settings($wieght: 400, $size: 14px){
    font-weight: $wieght;
    font-size: $size;
    font-family: 'Circe';
}

@mixin buttons-settings($btn-width: fit-content, $btn-color, $padding-block: 8px){
    width: $btn-width;
    background-color: $btn-color;
    border: none;
    color: white;
    padding-block: $padding-block;
    padding-inline: 16px;
    border-radius: 7px;
    letter-spacing: 0.4px;
    @include fonts-settings($size: 10px);
}
@mixin state($color) {
    &:hover,
    &:focus,
    &:active{
        background-color: $color;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
}

@mixin aside-element-position{
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px;
}

@mixin list-settings{
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

@mixin contactBtn($img){
    &:hover,
    &:focus,
    &:active{
        background-image: $img;
        background-size: 100%;
        background-position: 0;
        animation: opacity 1s, ease-in-out;
    }
}