$back-color: #F6F7F9;
$blue-light-color: #005BFE;
$blue-dark-color: #0047C6;
$red-light-color: #F81155;
$red-dark-color: #D1003E;
$grey-light-color: rgba(0, 0, 0, 0.05);
$grey-dark-color: rgba(0, 0, 0, 0.5);
$blue-transparent-color: rgb(0, 89, 254, 0.1);