@use './variables' as var;
@use './mixin';

@import 'normalize.css';

body{
    background-color: var.$back-color;
    @include mixin.fonts-settings;
    position: relative;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}

.header{
    height: 30px;
    background-color: white;
    padding: 10px 12px;
    box-shadow: 1px 0 15px rgb(218, 217, 217) ;
    @include mixin.flex-center;
    
    @media (min-width:480px){
        justify-content: space-around;
    }
    &__logo{
        @include mixin.flex-center;
        gap: 12px;

        img{
            height: 16px;
            width: 14px
        }
        span{
            @include mixin.fonts-settings(700);
            color: var.$blue-light-color;
        }
    }
    &__button{
        @include mixin.flex-center;
        gap: 10px;

        button{
            transition: 1s;
            @include mixin.state(var.$red-dark-color);
            margin: 0;
            padding-block: 5px;
        }
        button:last-child{
            @include mixin.buttons-settings($btn-color: var.$blue-light-color);
            @include mixin.state(var.$blue-dark-color);
        }
    }
}
main{
    padding-inline: 12px;
    height: 80vh;
    margin-inline: auto;

    @media (min-width:480px){
        max-width: 60%;
    }
}
.add-contact-btn{
    @include mixin.flex-center;
    justify-content: center;
    gap: 2px;
    transition: 1s;
    margin-top: 20px;
    @include mixin.buttons-settings(100%, var.$red-light-color, $padding-block:10px);
    @include mixin.state(var.$red-dark-color);
    &__plus{
        font-size: 14px;
    }
}
.contact-group,
.aside{
    position: fixed;
    top: 0;
    right: -83vw;
    background-color: white;
    @include mixin.flex-center;
    justify-content: start;
    flex-direction: column;
    width: 83vw;
    height: 100vh;
    box-sizing: border-box;
    z-index: 300;

    &.active {
        right: 0;
    }
    @media (min-width:450px){
        right: 0;

        &.active {
            left: 0;
        }
    }
    @media (min-width:450px){
        width: 250px;
        left: -250px;
    }
    &__aside-header,
    .aside-header{
        @include mixin.flex-center;
        @include mixin.fonts-settings(700);
        border-bottom: 1px solid var.$grey-light-color;
        @include mixin.aside-element-position;
        padding-bottom: 18px;

        button{
            background-color: transparent;
            border: none;
            padding: 2px;
            transition: 1s;
            @include mixin.state(var.$grey-light-color);

            img{
                width: 75%;
                translate: 0 2px; 
            }
        }
    }

    &__list,
    .group-list,
    .contact-list{
        @include mixin.aside-element-position;
        @include mixin.fonts-settings($size: 10px);
        padding-top: 18px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        
        .list-element{
            @include mixin.flex-center;
            gap: 5px;

            &__name{
                width: 100%;
                padding: 8px 10px;
                @include mixin.list-settings;
                background-color: var.$grey-light-color;

            }
            &__name:focus{
                outline-color: var.$grey-dark-color; 
            }

            &__button{
                @include mixin.list-settings;
                border: 2px solid var.$grey-light-color;
                height: 100%;
                width: 30px;
                background-image: url("/images/delete-btn.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 45% 60%; 
                @include mixin.contactBtn(url("/images/delete-btn-red.png"));
            }    

            @keyframes opacity {
                from { opacity: 0.3;}
                to { opacity: 1;}
            }
        }

        &__info-text{
            @include mixin.fonts-settings($size: 12px);
            color: var.$grey-dark-color;
            text-align: center;
        }
        
    }
    .contact-list__element{
            width: -webkit-fill-available;
            padding: 8px 10px;
            @include mixin.list-settings;
            background-color: var.$grey-light-color;
        }
        .contact-list__element:focus{
            outline-color: var.$grey-dark-color; 
        }
}

.contact-group__aside-buttoт,
.aside__aside-button,
.aside-button,
.modal-button{
    @include mixin.aside-element-position;
    @include mixin.list-settings;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: auto;

    .transparent-btn{
        @include mixin.buttons-settings($btn-color: transparent);
        color: var.$blue-light-color;
        font-weight: 700;
        @include mixin.state(var.$blue-transparent-color);
    }
    button,
    .blue-btn{
        transition: 1s;
        @include mixin.buttons-settings($btn-color: var.$blue-light-color);
        @include mixin.state(var.$blue-dark-color);
    }
}
.overlay,
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var.$grey-dark-color;
    z-index: 200;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;

}
.overlay.active,
.modal.active{
    display: block;
    opacity: 1;
}

.header,
.contact{
    position: relative;
    z-index: 100;
}

.modal{
    box-sizing: border-box;
    z-index: 400;
    padding-inline: 20px;

    &__inner,
    .modal-inner{
        width: 100%;
        max-width: 300px;
        background-color: white;
        padding: 10px;
        border-radius: 7px;
        @include mixin.flex-center;
        flex-direction: column;

        .modal-header{
            align-self: end;

            button{
                padding: 2px;
                padding-bottom: 0;
                background-color: transparent;
                border: none;
                transition: 1s;
                @include mixin.state(var.$grey-light-color);

                img{
                    height: 12px;
                }
            }
        }

        &__title{
            @include mixin.fonts-settings(700, 16px );
            text-align: center;
        }

        &__title,
        &__text{
            margin-block:  10px;
        }

        &__text{
            @include mixin.fonts-settings($size: 0.9em);
            text-align: center;
        }

        &__button{
            justify-content: center;
        }

        &__button.none{
            display: none;
        }
    }
}

.modal.active{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.toaster{
    position: fixed;
    right: 15px;
    bottom: 30px;
    z-index: 600;
    width: fit-content;
    max-width: 160px;
    min-width: 140px;
    gap: 8px;
    background-color: white;
    padding: 12px 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px var.$grey-light-color;
    @include mixin.flex-center;
    @include mixin.fonts-settings($size: 10px);
    justify-content: center;
    animation: fadein 0.8s, fadeout 0.8s 2.5s;

    &__image{
        width: 8%;
    }
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout{
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.list_items{
    padding: 10px;
    cursor: pointer;
}
.container{
    @include mixin.flex-center();
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
    padding-top: 25px;
    height: 90%;

    @media (min-width:750px){
        margin-top: 20px;
        gap: 1vw;
    }

    &__info-text{
        margin-bottom: 100px;
        color: var.$grey-dark-color;
    }

    &__group,
    .group{
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0 0 25px 2px var.$grey-light-color;

        input:disabled{
            background-color: transparent;
        }
        &__open-btn{
            padding-inline: 15px;
            background-color: transparent;
            border: none;
            width: 100%;
            @include mixin.flex-center;
            padding-block: 20px;
            border-bottom: 1px solid var.$grey-light-color;

            span{
                @include mixin.fonts-settings(700, 14px);
            }
            img{
                width: 10px;
                transition: 0.2s ease-in;
            }
            img.rotate{
                transform: rotate(180deg);
            }
        }

        .group__contact{
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transform: translateY(-10px);
            transition: all 0.3s ease-in-out;
        }
        .group__contact.open{
            padding-inline: 15px;
            overflow-y: auto;
            max-height: 330px; 
            opacity: 1;
            transform: translateY(0);
        }
        .contact-item{
            display: flex;
            flex-direction: column;
            width: 100%;
            border-bottom: 1px solid var.$grey-light-color;

            @media (min-width:750px){
                flex-direction: row;
                align-items: center;
                padding-block: 12px;
            }

            &__name{
                margin-top: 15px;

                @media (min-width:750px){
                    margin-top: 0;
                }
            }

            input{
                border: none;
            }
            .contact-info{
                @include mixin.flex-center;
                padding-bottom: 20px;
                width: 100%;
                margin-top: 12px;

                @media (min-width:750px){
                    margin-top: 0;
                    gap:15px;
                    justify-content: end;
                    padding-bottom: 0;
                }

                &__number{
                    max-width: 150px;
                }
                &__button{
                    @include mixin.flex-center;
                    
                    button:first-child{
                        background-image: url("/images/edit-btn.png");
                        margin-right: 5px;
                        @include mixin.contactBtn(url("/images/edit-blue-btn.png"))
                    }
                    button{
                        border-radius: 5px;
                        background-color: transparent;
                        border-color: var.$grey-light-color;
                        padding-inline: 5px;
                        padding-block: 4px;
                        width: 30px;
                        height: 30px;
                        background-image: url("/images/delete-btn.png");
                        background-size: 55%;
                        background-position: 6px;
                        background-repeat: no-repeat;
                        @include mixin.contactBtn(url("/images/delete-btn-red.png"));
                    }
                }
            }
        }
    }

}
